body {
	font-family: $sans-serif;
}
a {
	text-decoration: none;
	color: $link-color;
    @include transition(all .3s ease-in);
}

img {
	width: 100%;
}

.title {
	font-family: $sans-serif;
	text-transform: uppercase;
	margin: 0 0 10px;
}