.header {
  position: relative;
  font-family: $font-special;
}

.brand-logo {
  outline: none;
  img {
    padding-top: 5px;
    height: 45px;
  }
}

.btn {
  box-shadow: none;
  overflow: hidden;
}

.btn-transparent {
  border: 2px solid $primary-color;
  background-color: transparent;
  color: $primary-color;
  height: 36px;
  line-height: 34px;
   &:hover, &:active, &:focus {
    color: #FFF;
  }
  &.btn-large {
    height: 46px;
    line-height: 46px;
  }
}

.btn-secondary {
  background-color: $secondary-color;
  &:hover, &:active, &:focus {
    background-color: $secondary-color-dark;
  }
  &.btn-transparent {
    background-color: transparent;
    border-color: $secondary-color;
    color: $secondary-color;
    &:hover, &:active, &:focus {
      background-color: $secondary-color-dark;
      color: #FFF;
    }
  }
}

.btn-tertiary {
  background-color: $tertiary-color;
  &:hover, &:active, &:focus {
    background-color: $tertiary-color-dark;
  }
  &.btn-transparent {
    background-color: transparent;
    border-color: $tertiary-color;
    color: $tertiary-color;
    &:hover, &:active, &:focus {
      background-color: $tertiary-color-dark;
      color: #FFF;
    }
  }
}

.btn-filter {
  float: right;
  border: 1px solid #CCCCCC;
  background-color: transparent;
  color: #666666;
  padding-right: 0;
  padding-left: 15px;
  text-transform: capitalize; 
   &:hover, &:active, &:focus {
    background-color: transparent;
    color: #666666;
  }
  i {
    background: #666666;
    color: #FFF;
    width: 50px;
  }
}

.btn-loadmore {
  border: 2px solid #666;
  background-color: transparent;
  color: #666666;
  text-transform: uppercase; 
   &:hover, &:active, &:focus {
    background-color: transparent;
    color: #666666;
  }
}


h1,h2,h3,h4,h5,h6 {
  font-family: $font-serif;
  margin: 0 0 30px;
}

.sidenav {
  li a {
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    &.btn {
      color: #FFF;
      height: 36px;
      line-height: 34px;
      font-size: 12px;
      &:hover {
        color: #FFF;
      }
    }
    .dropdown-trigger {
      padding-left: 0;
    }
  }
  li>a>i.material-icons.right {
    margin-right: 0;
  }
  .input-field input[type=search]+.label-icon {
    left: ($sidenav-padding * 2);
    i {
      color: $primary-color !important;
    }
  }
  &-search {
    height: 50px;
  }
  .lang-switch {
    padding-left: ($sidenav-padding * 2);
    padding-right: ($sidenav-padding * 2);
  }
}


.nav-wrapper .lang-switch {
   z-index: 11;
  form {
    width: 50px;
    .select-dropdown.dropdown-trigger {
      color: $primary-color;
      border-bottom: none;
      @media #{$large-and-up} {
        height: 50px;
      }
    }
    .select-wrapper .caret {
      fill: $primary-color;
    }
  }
}


.nav-wrapper {
  li {
    position: relative;
    z-index: 10
  }
  .item-search {
    height: 50px;
    width:75px;
    z-index: 12;
    @media #{$large-and-up} {
      width: 50px;
    }
    .input-field input[type=search] {
      width: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 13;
      background: transparent;
        &+.label-icon {
        z-index: 14;
      }
    }
    &.active {
      .input-field input[type=search] {
        width: calc(100% - 4rem);
      }
    }
  }
  .input-field.active {
    input[type=search] {
      width: 155px;
      background: #D5DDE7;
      &::placeholder  {
        color: #333;
      }
      & ~ .material-icons {
        right: -130px;
        z-index: 15;
        color: #333;
      }
    }
    label.active i {
      color: #333;
      outline: none;
    }
  }
  .sidenav .input-field input[type=search] {
    padding-left: 5em;
    &::placeholder {
      color: #FFF;
    }
  }
}



.topbanner {
  position: relative;
  padding: 30px 30px 25px;
  .brand-logo {
    img {
      width: 104px;
      height: 64px;
      padding-top:0;
    }
  }
  &-menu {
    position: absolute;
    top: 52px;
    right: 32px;
    height: 38px;
    margin: 0;
    li {
      display: inline-block;
    }
  }
  &-switcher, &-search {
    margin-right: 16px;
  }
  &-cta a {
    margin-top: -12px;
  }
  .input-field {
    margin: 0;
  }
}

.cta-block {
  padding: 0 .75em;
  .banner & {
     @media #{$medium-and-up} {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  a {
    &:first-child {
         margin-right: 12px;
    }
  }
}

nav {
  .main-nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    @media #{$large-and-up} {
      height: 50px;
      padding-top: 15px;
    }
    @media #{$extra-large-and-up} {
      padding-top: 55px;
    }
    a {
      height: 50px;
      padding:  0 10px;
      border-bottom: transparent 4px solid; 
      transition: all .15s ease-in-out;
      &.btn {
        border: none;
        line-height: 50px;
      }
      @media #{$extra-large-and-up} {
        padding: 0 20px;
      }
      &:hover {
        border-color: $primary-color;
      }

    }
  }
  .callout {
    display: none;
    @media #{$extra-large-and-up} {
      display: block;
      font-size: .9em;
      color: $tertiary-color;
      position: absolute;
      right: 16px;
      top: 106px;
      width: 186px;
      text-align: center;
    }
  }
}

@media #{$large-and-up} {
  nav {
    margin: 0 auto;
    background: transparent;
    height: 80px;
    box-shadow: none;
    @media #{$extra-large-and-up} {
      height: 160px;
    }
    ul {
      li {
        a {
          color: $primary-color;
          
          &:hover {
            background: transparent;
          }
          
        }
      }
    }
    .input-field label.active i {
      color: $primary-color;
    }
    .brand-logo {
      padding: 11px 0 0;
      @media #{$extra-large-and-up} {
        padding: 23.5px 0 0;
      }
      img {
        height: 60px;
        @media #{$extra-large-and-up} {
          width: 163.72px;
          height: 100px;
        }
      }
    }
  }    
}

.notification {
  height: 50px;
  background: $primary-color;
  font-size: 13px;
  color: #FFF;
  margin-bottom: 0;
  padding-top: 11.5px;
  a {
    color: #FFF;
    text-decoration: underline;
  }
}

.banner {
  position: relative;
  height: 530px;
  background-color: $tertiary-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .container {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  &-text {
    height: auto;
    padding: 50px 0;
    @media #{$medium-and-up} {
      padding: 62px 0;
    }
    @media #{$large-and-up} {  
      .text-column {
        column-count: 2;
        column-gap: 30px;
      }
    }
    h1, h2, p, a {
      color: #FFF;
    }
  }
  .map {
    position: absolute;
    top: 62px;
    right: -10%;
    width: 80%;
  }
}

#highlights-banner {
  background: transparent;
  padding-bottom: 0;
  margin-bottom: 0;
  h1, h2, p, a {
    color: #797979;
  }
}

.filter-btns {
  a {
    margin: 0 12px 12px 0;
  }
}



.section {
  margin-bottom: 20px;
  @media #{$medium-and-up} {
    margin-bottom: 70px;
  }
}

.no-margin {
  margin-bottom: 0 !important;
}


.card {
  box-shadow: none;
}

.jigsaw {
  .row .row {
    margin-bottom: 0
  }
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    padding: 12px;
    @media #{$large-and-up} {
      padding: 24px;
    }
  }
  h3 {
    color: $primary-color;
  }
  .card-reveal {
    padding: 12px;
    @media #{$large-and-up} {
      padding: 24px;
    }
    h3, p, a {
    color: #FFF;
    }
    h3 {
      margin-bottom: 16px;
    }
    .card-subtitle {
      font-family: $font-serif;
      font-size: 1.6rem;
      color: #FFF;
    }
    a {
      position: absolute;
      bottom: 32px;
      border-bottom: 1px solid #FFF;
    }
  }
}

.services {
  h3 {
    font-family: $font-stack;
    font-size: .9em;
    color: $primary-color;
  }
  .card-content .card-title {
    margin-bottom: 30px;
  }
}

.countries {
  .card {
    background: #E1E1E1;
    @media #{$large-and-up} {
      padding: 120px 0 30px;
    }
    .card-content {
      .card-title {
        margin-bottom: 30px;
        color: $primary-color;
        word-break: break-all;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
}

.decked {
  .card-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(250,250,250,.8);
    padding: 10px;
    @media #{$medium-and-up} {
      padding: 20px;
      bottom: 20px;
      left: 20px;
      right: 20px;
    }
    @media #{$large-and-up} {
      padding: 12px;
      bottom: 12px;
      left: 12px;
      right: 12px;
    }
    @media #{$extra-large-and-up} {
      padding: 20px;
      bottom: 20px;
      left: 20px;
      right: 20px;
    }
    p {
      margin-bottom: 10px;
      @media #{$extra-large-and-up} {
         font-size: 1.1em;
      }
    }
    a {
      border-bottom: 1px solid $primary-color;
      text-transform: uppercase;
    }
  }
  .card-action {
    border-top: none;
    padding: 12px 0 24px;
    a {
      margin-top: 12px;
      &:first-child {
       margin-right: 12px;
      }
    }
  }
}

.links {
  max-width: 853px;
  margin-left: auto;
  margin-right: auto;
  .row .col:nth-child(3) {  
    @media #{$medium-and-up} {
      border-left: 1px solid #E1E1E1;
      border-right: 1px solid #E1E1E1;
    }
  }
  .s12 {
    @media #{$medium-and-up} {
      margin-bottom: 40px;
    }
  }
  h2 {
    color: $primary-color;
  }
  .material-icons {
    vertical-align: middle;
  }
}

.quote {
  position: relative;
  margin: 0;
  &__text {
    position: relative;
    margin-top: 20px;
    @media #{$large-and-up} {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin-top: 0;
    }
  }
  blockquote {
    margin: 0;
    padding: 0;
    border: none;
    font-family: $font-serif;
    font-size: 1.4em;
    font-style: italic;
  }
  .responsive-img {
    width: 100%;
  }
}

.tabs {
  height: auto;
  margin-bottom: 30px;
  @media #{$medium-and-up} {
    margin-bottom: 50px;
  }
  @media #{$large-and-up} {
    margin-bottom: 70px;
  }
  .tab {
    height: auto;
    line-height: auto;
    &.col.s3 {
      padding-right: 20px;
    }
    a {
      padding: 0;
      border-bottom: 5px solid #E7E7E7;
      @media #{$large-and-up} {
        text-align: left;
      }
      &:focus,
      &:focus.active {
        background:transparent;
      }
      span {
        text-transform: capitalize;
        color: #E7E7E7;
        @media #{$large-and-up} {
          display: none;
        }
      }
      &.active {
        span {
          color: #797979;
        }
        h3 {
          color: $primary-color;
        }
      }
      h3 {
        color: #E7E7E7;
        display: none;
        text-transform: none;
        @media #{$large-and-up} {
          display: block;
          font-size: 20px;
        }
      }
    }
  }
  .indicator {
    height: 5px;
    background-color: $primary-color;
  }
}

.tabs-focus {

  p {
    margin-bottom: 0;
  }
  .btn {
    margin-top: 12px;
    &:first-child {
      margin-right: 12px;
    }
    &-flat {
      &:hover {
        color: #FFF;
      }
    }
  }
}

.tab-content {
  .row .col {
    margin-bottom: 32px;
  }
  h5 {
    color: $primary-color;
    font-family: $font-stack;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .cta-block {
    padding: 0;
    margin-bottom: 30px;
  }
}

.small {
  font-family: $font-stack;
  color: #797979;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.breadcrumb {
  font-size: 14px;
  line-height: 14px;
  &:before {
    vertical-align: middle;
  }
}

.page-footer {
  padding: 56px 0 0;
  .container {
    position: relative;
  }
  a {
    color: #FFF;
  }
  .small {
    color: $secondary-color;
  }
  .builtby {
    padding: 0 0.75em;
    @media #{$medium-and-up} {
      position: absolute;
      right: 0;
      bottom: 11px;
      color: #FFF;
      font-size: .9em;
      padding: 0;
    }
  }
  .footer-copyright {
    color: $primary-color;
    background-color: #D5DDE7;
    line-height: 50px;
    margin-top: 56px;
    .row {
      margin-bottom: 0
    }
    a {
      color: $primary-color;
      margin-left: 20px;
      &:hover {
        text-decoration: underline;
      }
    }
    .right {
      height: 40px;
      display: inline-block;
    }
  }
}

.social {
  margin-top: 30px;
  @media #{$medium-and-up} {
    margin: 0;
    float: right;
  }
  &__item {
    display: inline-block;
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
    img {
      height: 20px;
    }
  }
}